@import url(https://fonts.googleapis.com/css?family=Aleo);
html {
	scroll-behavior: smooth;
}
.w3-jumbo{
    font-family: Aleo;
}
.w3-center{
	font-family: Aleo;
}
.Name {
	font-family: Aleo;
}
.w3-container {
	font-family: Aleo;
} 	
.w3-black {
	font-family: Aleo;
	background-color: #8c0e0f;
}
.w3-padding-64 {
	font-family: Aleo;
	background-color: #8c0e0f; 
}
.w3-hover-red {
	color:#fff!important;
	background-color:#002e63!important
}
.w3-hover-red:hover{color:#fff!important;background-color:#002146!important}

.btnjaskldflk {
	margin: auto;
	width: 1000px;	
}
.divider {
	background: transparent;
}

.w3-container {
	background-color: #8c0e0f;
}
.w3-xxlarge {
	font-family: Aleo;
	background-color: #8c0e0f ;
}
.w3-xlarge {
	font-family: Aleo;
}
.w3-xlarge{
	background-color: #002e63;
}
.file_submit{
  margin-top: 1vmax;
  width: 150px;
  border: 1px solid #002e63;
  outline: none;
  background-color: #002e63;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 0.3;
  font-family: Aleo;
}
.scrolling {
    font-family: Aleo;
    font-size: 50px;
    position: relative;
    text-align: center;
    color: rgb(30,30,30);
  }
  
  .top-left {
    position: absolute;
    top: 150px;
    left: 16px;
  }


  .top-right {
    position: absolute;
    top: 50px;
    right: 16px;
  }


  .right-side {
    position: absolute;
    top: 650px;
    right: 16px;
  }

 
  .middle_right{
    position: absolute;
    top: 550px;
    left: 16px;

  }

  .middle_left{
    position: absolute;
    top:250px;
    right:16px
  }

  .bottom_left{
	position: absolute;
    top:750px;
    right:16px
  }


.file_submit:hover{
  background-color: white;
  color: #002e63
}

