@import url(https://fonts.googleapis.com/css?family=Aleo);
html {
	scroll-behavior: smooth;
}
.w3-jumbo{
    font-family: Aleo;
}
.w3-center{
	font-family: Aleo;
}
.Name {
	font-family: Aleo;
}
.w3-container {
	font-family: Aleo;
} 	
.w3-black {
	font-family: Aleo;
}
.w3-padding-64 {
	font-family: Aleo;
}
.w3-xxlarge {
	font-family: Aleo;
}
.w3-xlarge {
	font-family: Aleo;
}
.file_submit{
  margin-top: 1vmax;
  width: 150px;
  border: 1px solid #55acee;
  outline: none;
  background-color: #55acee;
  color: white;
  padding: 1vmax;
  cursor: pointer;
  transition: 0.3s;
  letter-spacing: 0.3;
  font-family: Aleo;
}

.file_submit:hover{
  background-color: white;
  color: #55acee
}
