<!DOCTYPE html>
<html>
<head>
<title>Sleek News</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
<link rel="stylesheet" type="text/css" href="../static/index.css">
<style>
body, html {height: 100%}
body,h1,h2,h3,h4,h5,h6 {font-family: "Trajan", sans-serif}
a {background-color: #002e63}
.menu {display: none}
.bgimg {
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("/static/bg.jpg");
  min-height: 90%;
}
</style>
</head>
<body>

  <!-- Navbar (sit on top) -->
  <div class="w3-top w3-hide-small">
    <div class="w3-bar w3-xlarge w3-black w3-opacity w3-hover-opacity-off" id="myNavbar">
      <a href="#" class="w3-bar-item w3-button">HOME</a>
      <a href="#menu" class="w3-bar-item w3-button">MENU</a>
      <a href="#about" class="w3-bar-item w3-button">ABOUT</a>
      <a href=<!DOCTYPE html>
        <html>
        <head>
        <title>Sleek News</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Amatic+SC">
        <link rel="stylesheet" type="text/css" href="../static/index.css">
        <style>
        body, html {height: 100%}
        body,h1,h2,h3,h4,h5,h6 {font-family: "Trajan", sans-serif}
        .menu {display: none}
        .bgimg {
          background-repeat: no-repeat;
          background-size: cover;
          background-image: url("/static/bg.jpg");
          min-height: 90%;
        }
        </style>
    </div>
  </div>
    
  <!-- Header with image -->
  <header class="bgimg w3-display-container w3-grayscale-min" id="home">
    <div class="w3-display-bottomleft w3-padding">
      <span class="w3-tag w3-xlarge">Created with love by Aditya, Joey, Josh, and Ryan</span>
    </div>
    <div class="w3-display-middle w3-center">
      <img src="/static/logo.png" style="width:100%;" id="myMap">
      <p><a href="#menu" class="bgc w3-button w3-xxlarge w3-black">Learn More</a></p>
    </div>
  </header>

<!-- Menu Container -->
<div class="w3-container w3-black w3-padding-64 w3-xxlarge" id="menu">
  <div class="w3-content">
    
    <center>
      <label for = "Name" style="color:rgb(255, 255, 255)">A bite-sized summary of your news article is just one click away.</label><br>
            
          </center>
          <form action = "/result" method = "POST">
            <input style="font-size:25px;" type="text" name = "name" id = "name" class="btnjaskldflk">
            <center><input type="Submit" class = "file_submit">
                {% if inp%}
                <h1 class="w3-center w3-jumbo" style="margin-bottom:64px"></h1>
                <div class="w3-row w3-center w3-border w3-border-dark-grey">
                  <a href="javascript:void(0)" onclick="openMenu(event, 'Pizza');" id="myLink">
                    <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Summary</div>
                  </a>
                  <a href="javascript:void(0)" onclick="openMenu(event, 'Pasta');">
                    <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Highlights</div>
                  </a>
                  <a href="javascript:void(0)" onclick="openMenu(event, 'Starter');">
                    <div class="w3-col s4 tablink w3-padding-large w3-hover-red">Start </div>
                  </a>
                </div>

                <div id="Pizza" class="w3-container menu w3-padding-32 w3-white">
                  <h1><b><center>Recap</center></b></h1>
                  <p class="w3-text-grey">{{inp[1]}}</p>
                  <hr>
                </div>

                <div id="Pasta" class="w3-container menu w3-padding-32 w3-white">
                  <h1><b>Lasagna</b> <span class="w3-tag w3-grey w3-round">Popular</span> <span class="w3-right w3-tag w3-dark-grey w3-round">$13.50</span></h1>
                  <p class="w3-text-grey">Special sauce, mozzarella, parmesan, ground beef</p>
                <hr>
    </div>


    <div id="Starter" class="w3-container menu w3-padding-32 w3-white">
      <h1><b>Today's Soup</b> <span class="w3-tag w3-grey w3-round">Seasonal</span><span class="w3-right w3-tag w3-dark-grey w3-round">$5.50</span></h1>
      <p class="w3-text-grey">Ask the waiter</p>
      <hr>
    </div><br>
                {% endif %}
  </center></form>
            
    
    
  </div>
</div>
<form class = "grid" action = "/result" method = "POST" >
        <center> 
            {% if name%}
    <a href="../static/bg.jpg" class="file_submit" download="bg.jpg">
      Download tweets	
    </a>
    <p style ="font-family: Aleo"><b>See some of the tweets that we analyzed.</b></p>
            <h3 style = "color:rgb(0, 0, 0);"> {{name}} </h3>


    
            {% endif %}
        </center>
        
    </form>
<!-- About Container -->
<div class="w3-container w3-padding-64 w3-black w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:32px">About</h1>
    <p> <center>Sleek was built in order to explore and experiment with the capabilities of machine learning, and the true depth of the field. We wanted to simplify the lives of people, condensing bloated and unnecessarily long news stories to concise summarizations.</center></p>
  </div>
</div>
<div>


<!-- Depth Container -->
<div class="w3-container w3-padding-64 w3-black w3-grayscale w3-xlarge" id="about">
  <div class="w3-content">
    <h1 class="w3-center w3-jumbo" style="margin-bottom:32px">Depth</h1>
    <p> <center>Sleek was designed in order to address the Depth track for Hack3. According to Merriem-Webster the word depth means the degree of intensity.
    Oftentimes News articles from places like BBC or CNN go into extensive detail on global issues. Issues like these inform and educate the public
    on pressing issues. However, in this current age most individuals create their opinions off of the title rather than the actual content of the article. 
    These titles often over-exaggerate or polarize the issue, but due to the wordy and intense content of these articles the public often avoids actual consumption of the topic.
    In order to combat the misinformation spreading due to a lack of willingness to read Sleek simplifies the articles and creates a more digestable snapshot of the issue
    following the trend of the modern short-form content era.
    </center></p>
  </div>
</div>



<!-- Footer -->
<footer class="w3-center w3-black w3-padding-48 w3-xxlarge">
  <p><a href="https://github.com/EulerPascal404/SleekNews">github repo</a></p>
</footer>

<script>
// Tabbed Menu
function openMenu(evt, menuName) {
  var i, x, tablinks;
  x = document.getElementsByClassName("menu");
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablink");
  for (i = 0; i < x.length; i++) {
     tablinks[i].className = tablinks[i].className.replace(" w3-red", "");
  }
  document.getElementById(menuName).style.display = "block";
  evt.currentTarget.firstElementChild.className += " w3-red";
}
document.getElementById("myLink").click();
</script>

</body>
</html>
